{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    
    {% for item in items %}
    <a href="#">
        <ul class="listing-list">
            <li><img class="listing-image" src="{{item.image}}" alt=""></li>
            <div class="list-description">
                <li><h3>{{item.title}}</h3></li>
                <li><h6>Price: ${{item.starting_bid}}</h6></li>
                <li>Created {{item.created}}</li>
                <li>Seller: {{item.user}}</li>
            </div>
        </ul>
    </a>
    {% endfor %}
    
    
{% endblock %}